.page{
    background-color: rgba(190, 190, 190, 0.39);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backPage {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    transition: .2s linear color;
}
.backPage:hover {
    color: white;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 500px;
    width: 30vw;
    border: #FD5056 1px solid;
    border-radius: 25px;
}
.container img{
    width: 100px;
}
.container header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.container header span {
    padding-top: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.container form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inputContainer label{
    margin-bottom: 6px;
}
.inputContainer input{
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: #CFCFCF 1px solid;
    outline: none;
    border-radius: 8px;
    width: 27vw;
}

form button{
    margin-top: 15px;
    border: #CFCFCF 1px solid;
    color: white;
    background-color: #FD5056;
    outline: none;
    border-radius: 8px;
    height: 46px;
    width: 27vw;
    transition: .2s ease-in-out background;
}
form button:hover{
    background-color: #ff2027;
}

.googleFacebook{
    display: flex;
    justify-content: space-between;
    width: 27vw;
    margin: 5px 0 0;
}
.googleFacebook button{
    border: #CFCFCF 1px solid;
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    outline: none;
    border-radius: 8px;
    height: 46px;
    width: 13vw;
    transition: .2s ease-in-out background;
}
.googleFacebook button:nth-child(1){
    background-color: rgb(255, 255, 255);
    color: black;
}
.googleFacebook button:nth-child(1):hover{
    background-color: rgb(223, 223, 223);
}
.googleFacebook button:nth-child(2){
    background-color: rgb(0, 17, 255);
}
.googleFacebook button:nth-child(2):hover{
    background-color: rgb(0, 12, 175);
}
.create{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    width: 27vw;
}


