.container{
  padding: 20px 20px 0;
  background-color: #f7f7f7;
  color: #A9AFBB;
}

.imageContainer {
  position: relative;
}
.image{
  display: block;
  width: 100%;
  height: 170px;
  max-height: 200px;
}
.heartIcon{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 13px;
  right: 13px;
  font-size: 13px;
  color: rgb(177, 177, 177);
  background: white;
  border-radius: 50%;
  transition: color .2s linear;
}
.heartIcon:hover{
  color: rgb(255, 0, 0);
  cursor: pointer;
}

.city{
  margin-bottom: 10px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;

}
.container h2{
  margin-top: 5px;
  padding: 0;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #081538;
}

.reviewLine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.reviewLine > div{
  display: flex;
  flex-direction: row; 
  padding: 0;
}
.reviewLine p{
  margin: 0;
}
.reviewLine > div > p{
  font-size: 14px;
}
.reviewLine span{
  display: flex;
  background-color: #FD5056;
  color: white;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  padding: 2px 5px;
  font-size: 12px;
  margin-right: 10px;
}
.priceLine{
  display: flex;
  padding-top: 15px;
  font-size: 14px;
  justify-content: space-between;
  border-top: #CFCFCF .1px solid;
}
.price{
  color: #081538;
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}



.containerTour{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.containerTour h2{
  font-size: 20px;
  margin: 20px 0 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #081538;
}
.containerTour p{
  color: #a9afbb;
  margin: 0;
}
.containerTour .priceLine{
  border: none;
  justify-content: flex-start;
  gap: 10px;
}
.containerTour .price{
  color: #FD5056;
}