.login{
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-between;
    transition: background .2s ease-in-out;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: #081538;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}
.login:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #FD5056;
}