.login{
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-between;
    transition: background .2s ease-in-out;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: #70768C;
    font-weight: 600;
}
.login:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #FD5056;
}