.container{
    background-color: white;
    width: 80vw;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0;
}
.container form label{
    margin-bottom: 8px;
}
.container form div {
    display: flex;
    flex-direction: column;
}
.container form div input{
    width: 17vw;
    height: 35px;
    padding: 0 5px;
    border: #CFCFCF 1px solid;
    border-radius: 7px;
    transition: .2s linear border;
    outline: none;
}
.container form div input:focus{
    border: #FD5056 1px solid;
}
.container form div select{
    width: 17vw;
    height: 37px;
    border: #CFCFCF 1px solid;
    border-radius: 7px;
    transition: .2s linear border;
    outline: none;
}
.container form div select:focus{
    border: #FD5056 1px solid;
}
.container form button{
    width: 6vw;
    height: 35px;
    background-color: #FD5056;
    color: white;
    border: none;
    border-radius: 7px;
    transition: .3s linear background;
}
.container form button:hover{
    background-color: rgb(255, 127, 131);
}